.Wrapper {
  position: relative;
  width: 380px;     // произвольная ширина контейнера
  height: 380px;    // произвольная высота контейнера
  display: flex;
  justify-content: center;
  margin: 5px;
  border: 1px solid gray;

  @media (max-width: 767px) {
    width: 330px;     // произвольная ширина контейнера
    height: 330px;
  }

  img {
    max-width: 100%;    // не обязательно
    height: 100%;
  }

  .bottomRight {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 5px;
    }
    .likeCount {
      font-weight: 700;
    }
  }

  .bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;

    div > img {
      width: 20px;
      margin-right: 5px;
    }

    .likeCount {
      font-weight: 700;
    }

    .approveCount {
      font-weight: 700;
    }

    .rejectCount {
      font-weight: 700;
    }
  }
}

